.galery .top{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.galery .top-button{
    display: flex;  
   
}

.galery .top .image-logo{
    width: 100%;
    max-width:31.25rem;
}

.galery .carrousel{
    display: flex;
}

.galery .carrousel .image-carrousel{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width:28.22375rem;
    height: 34.875rem;
    transition:  ease 1s;
   
}
.galery .carrousel .image-carrousel .verCase{
    position: absolute;
    transition: opacity ease 1s;
    opacity: 0;
}
.swiper {
    width: 98%;
    height: 100%;
 
  }

@media(max-width: 991px) {
    .galery .top .image-logo img{
      height: auto;
      width: auto;
    }
    .swiper {
        width:90vw;
        height: 100%;
    }
    .galery .top .image-logo{
        width: 100%;
        max-width:auto;
    }
    .galery .carrousel .image-carrousel{
        width: 100%;
        max-width:auto;
        height:auto;
    }
}

@media(max-width: 991px) {
    .galery .top .image-logo img{
      height:8rem;
     
    }
    .swiper {
        width:90vw;
        height: 100%;
    }
    .galery .top .image-logo{
        width: 100%;
        max-width:auto;

    }
    .galery .carrousel .image-carrousel{
        width: 100%;
        max-width:auto;
        height:auto;
    }
}
@media(max-width:400px) { 
    .galery .top .image-logo img{
        height:4rem;   
      }
    .swiper {
        width:100vw;
        height: 100%;
    }
    .galery .carrousel .image-carrousel{
        width: 100%;
        max-width:auto;
        height:auto;
    }
}

.galery .carrousel .image-carrousel:not(:hover){
    transform: scale(90%);
    filter: blur(1px);
}
.galery .carrousel .image-carrousel:hover .verCase{
    opacity: 1;
}