
.container{
    position: relative;
    width: 100vw;
    height: 100vh;


    background-image: url(../../assets/pexels-cottonbro.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .navbar{
    margin: 1rem;
   
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 10;     
}

.container .navbar .title{
    margin: 1rem;
    font-size: 0.5rem;

}


.container .image-logo{
    margin-top: 18em;
    width: 100%;
    max-width: 80rem;
    max-height: 14rem;
 
    
}

.container .table-selection{
  
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    max-width: 86rem;
    
}
.container .table-selection  .seletor{
    width:90%;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px rgb(255, 255, 255, 0.25);
    color:rgb(255, 255, 255, 0.25) ;
  
    
    
}
.container .table-selection  .seletor:first-child{
    border-bottom: solid 1px rgb(255, 255, 255);
    color:rgb(255, 255, 255) ;

}
@media(max-width: 991px) { 
    .container{
        width: 100%;
        height: auto;
    }
}